{"skip-analysis-in-path": [
"linux/arch/x86/entry/vdso",
"linux/arch/x86/boot",
"linux/arch/x86/kernel",
"linux/arch/x86/mm",
"linux/arch/x86/boot/compressed",
"linux/drivers/acpi",
"linux/kernel/bpf",
"linux/mm",
"linux/fs",
"linux/net/mac80211"
]
}
